venv/

.vscode/
.idea/
.devcontainer/

__pycache__

build
dist
*.egg-info/

iframe_figures
welleng/exchange/data
blender
utils
work
*.vtu
*.old
*.pdf

key.asc
.~*
VERSION*

test/test_data/*.xlsx

.coverage

# ignore all folders inside the tests directory
# that start with "cov_" and "error"
tests/cov_*/
tests/error*/
