venv/

.vscode/
.idea/
.devcontainer/

__pycache__

build
dist
*.egg-info/

iframe_figures
welleng/exchange/data
blender
utils
work
*.vtu
*.old
*.pdf

key.asc
.~*
VERSION*

.coverage

test/test_data/*.xlsx
tests/results/*
